*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(120deg, #0f2027, #2c5364);
    background-repeat:no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
}
.container{
    position: sticky;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20px;
}
h1 {
    color: black;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar{
    gap : 60px;
    display: flex;
    text-align: end;
    font-size: 25px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 10px;
    padding: 10px;
}
.about_me{
    display: flex;
    align-items: center;
}
#about{
    font-size: 30px;    
    color: white;
    margin-top : 40px;
    margin-left: 50px;
    padding: 40px;
}
#pic{
    margin-left: 100px;
    margin-right: 100px;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}
.projects_button{
    display: flex;
    margin-left: 400px;
    gap: 400px;
}
#skills button{
    margin-left: 20px;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    background-color: #06b6d4;
    color: white;
}
#skills button:hover{
    background-color: #0e7490;
    cursor: pointer;
    box-shadow: lightblue 0px 4px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#projects button{
    margin-left: 20px;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background-color: #06b6d4;
    color: white;
}
#projects button:hover{
    background-color: #0e7490;
    cursor:pointer ;
    box-shadow: lightblue 0px 4px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about{
    background-color: white;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    border-radius: 10px;
    text-align: left;
}
.about h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.me{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    
    
}
#myself{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}